@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c5e4e7;
}

.spaceFont {
  font-family: 'spaceBold';
}

@font-face {
  font-family: 'spaceBold';
  src: url('../Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.colors {
  background-color: #00494d;
  background-color: #5e7a7d;
  background-color: #7f9c9f;
  background-color: #c5e4e7;
  background-color: #ffffff;
  background-color: #f4fafa;
  background-color: #26c0ab;
}